<img src="images/server-room-new.jpg" alt="background image" id="background-image">
<img src="images/server-room-black.jpg" alt="background" id="black-background">
<div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" id="heading-text">
        <h3>Gaming enthusiast with a love for</h3>
        <p id="heading-bottom">Web development and design</p>
        <p id="contact-bottom"><%= link_to :home do %>Contact<% end %></p>
        <a href="#body-area" class="smoothScroll"><span class="glyphicon glyphicon-chevron-down" id="icon-header"></span></a>
      </div>
    </div>
</div>
<div class="container-liquid" id="body-area">
    <div class="container">
        <div class="col-lg-offset-2 col-lg-8">
            <h1>Some history about me</h1>
            <p>Gaming and computers always interested me ever since I was young, I've always wanted to create or build something interesting, complex, and unique. As a grew older, programming became my niche and developed a passion for it which lead to me wanting to expand my knowledge to create something amazing.
         </div>
    </div>
    <hr>
         <p> some text </p>
</div>

