/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(http://fonts.googleapis.com/css?family=Orbitron:500);
 @import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC);
 

 #logo{
	 width:160px;
	 padding: 25px;
	 
	 -moz-animation-name: fadein;
	 -moz-animation-duration: 2s;
	 
	 -webkit-animation: fadein;
	 -webkit-animation-duration: 2s;
	 
	 animation-name: fadein;
	 animation-duration: 2s;
	 
 }
 @-moz-keyframes fadein{
	 0%{
		 visibility: hidden;
		 opacity:0;
	 }
	 100%{
		 visibility: visible;
		 opacity:1;
	 }
 }
 @-webkit-keyframes fadein{
	 0%{
		visibility: hidden;
		 opacity:0;
	 }
	  100%{
		visibility: visible;
		 opacity:1;
	  }
 }
@keyframes fadein{
	 0%{
		 visibility: hidden;
		 opacity:0;
	 }
	  100%{
		 visibility: visible;
		 opacity:1;
	  }
}
 

.navbar-inverse{
	 background-color: transparent;
	 border-style: none;
	 font-size: 1.3em;
	 padding: 35px;
	 font-family: 'Alegreya Sans SC', sans-serif;
	 
	 -moz-animation-name: fadein;
	 -moz-animation-duration: 2s;
	 
	 -webkit-animation: fadein;
	 -webkit-animation-duration: 2s;
	 
	 animation-name: fadein;
	 animation-duration: 2s;
}
#contact a{
	color: white;
	border: 2px solid white;
	font-family: 'Alegreya Sans SC', sans-serif;
}
#contact a:hover{
	background-color: white;
	color: black;
}
body{
	background-color: white;
}
hr{
	width: 70%;
}
#login-box{
	text-align: center;
	margin-top: 200px;
}

